main {
  // background-color: lime;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  @include responsive-medium() {
    // flex-direction: column;
  }
}
h2 {
  font-size: 1rem;
}
