@mixin responsive-medium($w: 910) {
  @media screen and (max-width: $w + px) {
    @content;
  }
}

// @mixin font-family($s: 20, $w: 400) {
//   font-size: $s + px;
//   font-weight: $w;
// }

@mixin paragraph-ellipsis($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}
