.components-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include responsive-medium() {
    flex-wrap: wrap;
  }
  .component {
    color: white;
    display: flex;

    margin: 0 1rem 0.5rem 0;
    padding: 0.5rem;
    @extend %radius;
    @include responsive-medium() {
      margin: 0 1rem 0.5rem 0;
    }
    img {
      margin: 0 0.5rem 0 1rem;
      cursor: pointer;
    }
    // @extend %component;
  }
  .component-ingredient {
    background-color: $ingredients-color;
  }
  .component-appareil {
    background-color: $appareil-color;
  }
  .component-ustensiles {
    background-color: $ustensiles-color;
  }
}
