.recipes {
  @include responsive-medium() {
    width: 100%;
    height: 35vh;
  }
  width: 25vw;
  height: 30vh;
  //   @extend %radius;
  border-radius: 2%;
  overflow: hidden;
  margin-bottom: 3rem;
  &__img {
    height: 50%;
    // background-color: $background-img-card;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    &::after {
      content: "";
      width: 100%;
      height: 100%;

      background: linear-gradient(to right, #8a2387, #e94057, #f27121);
      position: absolute;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__resume {
    // padding: 1rem;
    height: 50%;
    background-color: $background-text-color;
    &__up {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      &__name {
        max-width: 60%;
      }
      p {
        font-weight: bold;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      // padding: 1rem 0 1rem 0;
      padding: 0.5rem;
      // max-height: 100%;
      flex: 1;
      &__ingredients {
        list-style: none;
        width: 50%;
        padding: 0 1rem 0 0;
        @include paragraph-ellipsis(4);
      }
      &__description {
        overflow: hidden;
        max-width: 50%;
        max-height: 100%;
        p {
          @include paragraph-ellipsis(4);
        }
      }
    }
  }
  // &:hover {
  //   &__img {
  //     &::after {
  //       opacity: 1;
  //     }
  //   }
  // }
}

// .recipes:hover {
//   &__img::after {
//     opacity: 1;
//   }
// }
