nav {
  position: relative;
  height: 3rem;
  margin: 1rem 0 1.5rem 0;
  input {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $background-text-color;
    @extend %radius;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      padding-left: 1%;
    }
  }
  img {
    width: 1.5rem;
    position: absolute;
    right: 2%;
    top: 25%;
    bottom: 25%;
    cursor: pointer;
  }
}
