.selections-wrapper {
  margin: 1rem 0;
  display: flex;
  @include responsive-medium() {
    margin: 1rem 0;
    flex-wrap: wrap;
    height: auto;
  }
  .selections {
    position: relative;
    align-items: center;
    color: white;
    display: flex;
    margin-right: 1.5rem;
    @include responsive-medium() {
      width: 100%;
      margin: 0 0 0.5rem 0;
    }
    img {
      cursor: pointer;
      position: absolute;
      right: 1rem;
    }
    & input {
      text-align: start;
      padding-left: 1rem;
      @extend %radius;
      height: 3rem;
      width: 8rem;
      border: 0;
      color: white;
      @include responsive-medium() {
        width: 100%;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: darken(white, 10%);
        }
      }
      &::placeholder {
        border: none;
        color: white;
      }
    }
    &:nth-child(1) > * {
      background-color: $ingredients-color;
    }
    &:nth-child(2) > * {
      background-color: $appareil-color;
    }
    &:nth-child(3) > * {
      background-color: $ustensiles-color;
    }
    // @extend %component;
  }
}
// .selections-wrapper {
//   margin: 1rem 0 1rem 0;
//   height: 4rem;
//   display: flex;
//   .selections {
//     align-items: center;
//     color: white;
//     display: flex;
//     margin-right: 1rem;
//     padding: 0.5rem;
//     @extend %radius;
//     img {
//       margin: 0 0.5rem 0 1rem;
//       cursor: pointer;
//     }
//     &:nth-child(1) {
//       & input {
//         background-color: $ingredients-color;
//         border: none;
//         &::placeholder {
//           border: none;
//           color: white;
//         }
//       }
//       background-color: $ingredients-color;
//     }
//     &:nth-child(2) {
//       background-color: $appareil-color;
//     }
//     &:nth-child(3) {
//       background-color: $ustensiles-color;
//     }
//     // @extend %component;
//   }
// }
